body {
	background-color: white;
}
.svg {
	background-image: url('ground.jpg'); 
	background-size: 1366px 660px;
	background-repeat: no-repeat;
	margin: 0% -0.6% 1.1% -0.6%;
	border-top: 2px solid white;
	padding-bottom: 0%;
}
.hometext {
	fill: white;
	font-size: 30px;
	text-decoration: underline;
}
.subtext {
	fill: white;
	font-size: 20px;
	text-decoration: underline;
}
.sporttext {
	fill: white;
	font-size: 15px;
	text-decoration: underline;
}
.home {
	fill: #1761A0;
	stroke: white;
	stroke-width: 2px;
}
.sub {
	fill: #1761A0;
	stroke: white;
	stroke-width: 2px;
}
.sport {
	fill: #1761A0;
	stroke: white;
	stroke-width: 2px;
}
.line {
	stroke: white;
	stroke-width: 3px;
}
.footer {
	background-color: #008CBA;
	color: white;
	text-align: center;
	border-top: 2px solid white;
	margin: -1.2% -0.5% 0% -0.5%;
	font-weight: bold;
	height: 8%;
	padding-bottom: -1%;
}
.header {
	height: 135px;
	margin: -0.5% -0.5% 0% -0.5%;
	background-image: linear-gradient(to right, silver , white);
	border: 1px solid white;
}
.logo {
	float: left;
	margin-left: 0.5%;
	height: 120px;
	padding-top: 0.5%;
}
h1 {
	text-align: center;
	font-family: yumincho;
	font-size: 400%;
	margin-right: 7%;
	margin-top: 2.2%;
}
a {
	color: white;
}
a:hover {
	color: black;
}